body {
/*	background: black; */
	color: 			#ffffff;
/*	color: 			#34495e;*/
	/*background: #DCDCDC;*/
	background: 	#502C7B;
	background: 	url('../img/top10ist_Hero.png') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border: 		0;
	margin: 		0;
	text-align: 	center;
	font-size: 		18px;
	font-family: 	'Josefin Sans', sans-serif;
	width: 			80%;
}

a, a:visited {
	color:   		#ffffff;
}



#logo {
	top: 			20px;
	left:  			10px;
	text-align: 	left;
	float:  		left;
	z-index:  		-1;
}

header {
	line-height: 	50%;
	margin-top: 	15%;
	margin-bottom: 	5%;
	width:  		100%
	text-align:  	center;
}

h1, h3, h4 {
	text-transform: uppercase;
	font-family: 	"fatfrank",sans-serif;
	text-shadow: 	8px 8px 0px rgba(0,0,0,0.50);
	line-height: 	42pt;
}

#L1 { font-size: 71pt; }
#L2 { font-size: 50pt; }
#L3 { font-size: 46pt; }

.btn {
	font-size: 		18px;
    line-height: 	1.5;
    border-radius: 	500px;
    padding: 		12px 47px 8px;
    -webkit-transition: background-color .15s ease,border-color .15s ease,color .15s ease;
    -o-transition: background-color .15s ease,border-color .15s ease,color .15s ease;
    transition: background-color .15s ease,border-color .15s ease,color .15s ease;
    border-width: 	0;
    letter-spacing: 1.2px;
    min-width: 		130px;
    text-transform: uppercase;
    white-space: 	normal;
}

.btn-spotify {
	color:  			#fff;
	background-color: 	#2ebd59;
}

.btn-facebook {
	color:  			#fff;
	background-color: 	#3a5795;
}

.spotify {
	padding-top: 		50px;

}

ol {
	text-align: 		left;
}

li {
	margin: 			15px;
	border: 			1px dashed blue;
	/*min-height: 100px;*/
	/*vertical-align: center;*/
}

li .song, .artist {
	padding: 			5px;
	width: 				80%;
}

li .song {
	font-size: 			24pt;
	text-transform: 	uppercase;
	padding-top:  		10px;
}

li .artist {
	font-size:  		20pt;

}

li img {
	float:  			left;
	max-height:  		80px;
	margin-top: 		15px;

}